<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Frosthaven Companion</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Scenarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="party">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Party
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="status">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Campaign status
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="outpost">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Outpost
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flowchart">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Flow chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monsters">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Monsters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="conditions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Conditions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sync">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sync
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
